doctype html
html
	head
		meta(charset='utf-8')
		title #{title}
		base(target='_top')
		link(rel='stylesheet', type='text/css', href='/depictions/style/style.css')
		meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
		meta(name='format-detection', content='telephone=no')
		script(type='text/javascript', src='/depictions/js/thankssaurik.js')

	body.pinstripe
		panel
			label 404 File Not Found
			| <block>
			p The file you requested could not be found :(
			| </block>