html
	head
		title Milo Darling's Repo
	body
		center
			h1 Milo Darling's Repo
			img(src="http://i.imgur.com/GYTmumv.png", alt="You're Not Cydia")
			p You must use Cydia to access this repo!
			p Add #[a(href='.') cydia.milodarling.me] in Cydia to use this repo
			a(href="cydia://url/https://cydia.saurik.com/api/share#?source=http://cydia.milodarling.me/") Click here to open Cydia and add this repository