doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title #{title} Known Bugs
		base(target="_top")
		link(rel="stylesheet", type="text/css", href="/depictions/style/style.css")
		meta(name="viewport", content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(name="format-detection", content="telephone=no")
		script(type="text/javascript", src="/depictions/js/thankssaurik.js")
	body.pinstripe
		panel
			label Known Bugs
			fieldset
				div
					if (knownbugs)
						-for (var i=0; i<knownbugs.length; i++)
							if i != 0
								hr
							p !{knownbugs[i]}
					else
						p No known bug list found (is that a good thing?)
